<!doctype html>
<html>
  <head>
    <title>Rad Rocket!</title>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header>
      <a id="logo" href="/">Rad Rocket!</a>
      <section class="headerLinks">
        <a href="/about">What is Rad Rocket?</a>
        <a href="/howTo">How To Play</a>
      </section>
      <section class="membership">
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
      </section>
    </header>
    <section class="howToSec">
      <section class="howToImage">
        <img src="images/whatis.png" alt="radwondering">
      </section>
      <h2>What is Rad Rocket?</h2>
      <p>Is your little one starting their reading journey? Rad Rocket is your go-to online story book game that gets children using their noggin' to practice reading at home. Our story book games work similarly to old school video games, except we keep it simple so that children ages 3-5 can follow along with a grown-up. We make sure our games are colorful and engaging so that all early readers can enjoy. Check out our <span class="bold">How To Play</span> page to get started using Rad Rocket today. Oh and the best part? It's free! We want everyone to get a chance to have some extra fun while reading. Check out some screenshots of the game below to see what Rad Rocket has in store for your child's literacy journey!
    </section>
    <section class="screenShots1">

    </section>
    <p class="gameDescription">Take a break from traditional learning to read stories in colorful pixel graphics!</p>
    <section class="screenShots2">

    </section>
    <p class="gameDescription">Get to know your neighbors! I'm sure they have something to say!</p>
    <section class="screenShots3">

    </section>
    <p class="gameDescription2">And of course, HAVE FUN!</p>
   <footer class="homePageFooter">
     <section class="topSecFooter">
       <h2>Rad Rocket Education</h2>
       <section class="footerLinks">
         <a href="/about">What is Rad Rocket?</a>/
         <a href="/howTo">How to Play</a>/
         <a href="/contact">Contact Us</a>
       </section>
     </section>
     <section class="bottomSecFooter">
       <p>© 2020 Sebastian Vivas</p>
     </section>
   </footer>
  </body>
</html>
