<!doctype html>
<html>
  <head>
    <title>Rad Rocket!</title>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header>
      <a id="logo" href="/">Rad Rocket!</a>
      <section class="headerLinks">
        <a href="/about">What is Rad Rocket?</a>
        <a href="/howTo">How To Play</a>
      </section>
      <section class="membership">
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
      </section>
    </header>
    <h2 class="contactUsTitle">Contact Us</h2>
    <section class="contactFormPage">
      <form  class="contactForm" action="https://formsubmit.co/seb.vivas.dev@gmail.com" method="POST" >
          <input type="text" id="name" placeholder="Name">
          <input type="email" name="email" id="email" placeholder="Email">
          <textarea id="message" placeholder="Message" rows="4"></textarea>
          <input id="contactButton" type="submit" value="Send Message">
      </form>
    </section>
   <footer class="homePageFooter">
     <section class="topSecFooter">
       <h2>Rad Rocket Education</h2>
       <section class="footerLinks">
         <a href="/about">What is Rad Rocket?</a>/
         <a href="/howTo">How to Play</a>/
         <a href="/contact">Contact Us</a>
       </section>
     </section>
     <section class="bottomSecFooter">
       <p>© 2020 Sebastian Vivas</p>
     </section>
   </footer>
  </body>
</html>
