<!doctype html>
<html>
  <head>
    <title>Rad Rocket!</title>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <a id="logo" href="/">Rad Rocket!</a>
      <section class="headerLinks">
        <a href="/about">What is Rad Rocket?</a>
        <a href="/howTo">How To Play</a>
      </section>
      <section class="membership">
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
      </section>
    </header>
    <section class="howToSec">
      <section class="howToImage">
        <img src="images/howto.png" alt="how to play">
      </section>
      <h2>How to Play</h2>
      <p>Rad Rocket is easy to start! Click the <span class="bold">Signup</span> button on the top right of the page to make an account. All you need is an email-address and a password! Once you're signed up, you'll be redirected to the <span class="bold">Story Menu</span>. Here your little one can select which book they want to read. Use the arrow keys to move around the game and hit the space bar when you're next to one of your neighbors to see what their thinking! You can take turns reading what the characters are saying. You could even try to read it like a play! If you want to go over the lesson from the story, drop a message below the game for others to read with their grown-ups. Everytime you select a book to read, you'll earn stars too! Stars will unlock cool animal badges for being a great reader! Have fun!</p>
    </section>
   <footer class="homePageFooter">
     <section class="topSecFooter">
       <h2>Rad Rocket Education</h2>
       <section class="footerLinks">
         <a href="/about">What is Rad Rocket?</a>/
         <a href="/howTo">How to Play</a>/
         <a href="/contact">Contact Us</a>
       </section>
     </section>
     <section class="bottomSecFooter">
       <p>© 2020 Sebastian Vivas</p>
     </section>
   </footer>
  </body>
</html>
