<!doctype html>
<html>
<head>
    <title>Rad Rocket!</title>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
  <body>
    <header>
      <a id="logo" href="/">Rad Rocket!</a>
      <section class="headerLinks">
        <a href="/about">What is Rad Rocket?</a>
        <a href="/howTo">How To Play</a>
      </section>
      <section class="membership">
        <a href="/login"></span>Login</a>
        <a href="/signup"></span>Signup</a>
      </section>
    </header>
    <section class="bannerImage">
      <h2>Welcome!</h2>
      <p>Rad is the way to play!</p>
      <a href="/about">Learn more</a>
    </section>
    <section class="newsUpdates">
      <h2>News & Updates</h2>
      <section class="container">
          <section class="newsUpdateOne">
            <a class="topNewsLinks" href="#">
              <section class="topNews">
                <p>Featured News</p>
              </section>
            </a>
            <section class="topNewsBottom">
              <section class="topNewsHeading">
                <h3>Rad Rocket is taking off!</h3>
                <p>Welcome to our brand new website! Learn about our latest features.</p>
              </section>
              <section class="topNewsDate">
                <p>April 13, 2020</p>
                <a href="#">Read More</a>
              </section>
            </section>
          </section>
          <section class="newsUpdateTwo">
            <a class="topNewsLinks" href="#">
              <section class="topNewsTwo">
                <p>Featured Update</p>
              </section>
            </a>
            <section class="topNewsBottom">
              <section class="topNewsHeading">
                <h3>New Games Coming Soon!</h3>
                <p>Rad Rocket has three new books coming in May. Stay Tuned for more updates!</p>
              </section>
              <section class="topNewsDate">
                <p>April 5, 2020</p>
                <a href="#">Read More</a>
              </section>
            </section>
          </section>
      </section>
    </section>
    <section id="mc_embed_signup" class="newsLetter">
      <h2>Sign Up for our newsletter!</h2>
        <form action="https://outlook.us8.list-manage.com/subscribe/post?u=0a302fcb8955005eb903954f4&amp;id=0fea9d78ca" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <section id="mc_embed_signup_scroll">
  	         <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <section style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0a302fcb8955005eb903954f4_0fea9d78ca" tabindex="-1" value=""></section>
            <input id="newsLetterButton" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </section>
      </form>
    </section>
    <footer class="homePageFooter">
      <section class="topSecFooter">
        <h2>Rad Rocket Education</h2>
        <section class="footerLinks">
          <a href="/about">What is Rad Rocket?</a>/
          <a href="/howTo">How to Play</a>/
          <a href="/contact">Contact Us</a>
        </section>
      </section>
      <section class="bottomSecFooter">
        <p>© 2020 Sebastian Vivas</p>
      </section>
    </footer>
  </body>
</html>
